@import "vars";

.sidebar-root {
    .sidebar-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(1, 1, 1, 0);
        transition: background-color ease-in-out 0.2s;

        &.visible {
            z-index: 10;
        }

        &.open {
            z-index: 10;
            background-color: rgba(1, 1, 1, 0.6);
            animation: background-color ease-in-out 0.2s;
        }

        .sidebar {
            position: absolute;
            background-color: $dark-grey-2;
            left: -400px;
            width: 400px;
            transition: left ease-in-out 0.3s;
            height: 100%;
            z-index: 11;
            box-shadow: -10px 5px 10px 5px rgba(0,0,0,0.35);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ::-webkit-scrollbar {
                width: 8px;
            }

            ::-webkit-scrollbar-track {
                background: $dark-grey-1;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            ::-webkit-scrollbar-thumb {
                background: $grey-1;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: $grey-2;
            }

            &.open {
                left: 0;
                box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.35);
                transition: left ease-in-out 0.3s;
            }

            .sidebar-header {
                user-select: none;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .sidebar-title {
                    display: inline-block;
                    margin: 0 auto;
                    color: white;
                    font-family: $great-vibes;
                    font-size: 4rem;
                }

                .sidebar-sub-title {
                    position: relative;
                    top: -20px;
                    right: -55px;
                    display: inline-block;
                    color: white;
                    font-family: $roboto-mono;
                    font-size: 1rem;
                }
            }

            .sidebar-body {
                overflow: auto;
                min-height: 200px;
                height: 100%;

                .sidebar-nav-item {
                    cursor: pointer;
                    height: 35px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    user-select: none;
                    margin: 5px 1px;
                    transform: none;

                    &:hover {
                        .nav-item-text {
                            transform: translate(-5px, -5px);
                            text-shadow: 5px 5px #0f0f0f;
                        }

                        .nav-item-icon {
                            transform: translate(-5px, -5px);
                            text-shadow: 5px 5px #0f0f0f;
                        }
                    }

                    .nav-item-icon {
                        margin: 5px;
                        color: white;
                        font-size: 1.6rem;
                        height: 35px;
                        transition: all ease-in-out 0.2s;
                    }

                    .nav-item-text {
                        color: white;
                        margin: auto 0;
                        font-family: $oswald;
                        transition: all ease-in-out 0.2s;
                    }
                }
            }

            .sidebar-footer {
                min-height: 100px;
            }
        }
    }

    .sidebar-button {
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 12;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
        user-select: none;
        cursor: pointer;
        transition: all ease-in-out 200ms;

        &:hover {
            filter: brightness(1.5);
        }

        &.outer {
            background-color: $dark-grey-2;
            margin: 10px 0 0 10px;
            left: 0;
            top: 0;
            transition: all ease-in-out 0.3s;
        }

        &.open {
            background-color: $dark-grey-1;
            margin: 10px 10px 0 0;
            left: 340px;
            transition: all ease-in-out 0.3s;

            .bar {
                background-color: $red-1;
                transition: all ease-in-out 0.3s;
            }
        }

        .bar {
            margin: 1px 8px;
            border-radius: 5px;
            height: 4px;
            background-color: $grey-1;
            transition: all ease-in-out 0.3s;
        }
    }
}

